body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */
.btn-num,
.btn-operator,
.btn-clear,
.btn-equal {
    border: 1px solid transparent;
    font-size: 25px;
    margin: 5px;
    color: black;
}

.btn-num:active,
.btn-clear:active,
.btn-equal:active {
    background-color: rgb(255, 255, 255);
}

.btn-operator {
    background-color: orange;
    width: 50px;
}

.btn-operator:active {
    background-color: rgb(228, 186, 109);
    
}

.btn-clear {
    font-size: 20px;
}

.calc-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: gray;
    margin: 120px;
    padding: 10px;
    width: 250px;
    border-radius: 25px;
    gap: 5px;

}

.display {
    background-color: rgb(196, 196, 196);
    margin: 10px;
    font-size: 30px;
    border-radius: 25px;
    padding: 10px;
}

